<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing challenge</h1>
      <p class="has-text-centered">
        <span 
        [ngClass]="getCssClass(letter, enteredText[i])"
        *ngFor="let letter of randomText.split(''); let i = index;"  >{{letter}}</span>
      </p>

      <div class="field">
        <input class="input" (input)="onInput($event.target!)" />
      </div>

      <div *ngIf="isSameText" class="box has-text-centered">
        <h1 class="title">Success</h1>
      </div>
    </div>
  </div>
</div>